<div>
    <h4>
        <%= @character.name.capitalize %>:
    </h4>
    <div>
        <% @character.as_json.each do |attr, value| %>
            <% next if ['id', 'name', 'user_id'].include?(attr) %>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action list-group-item-secondary" style="width: 200px;">
                    <span class="float-left"> <%= "#{attr.capitalize}:" %> </span>
                    <span class="float-right"><%= "#{value}" %></span>
                </li>
            </ul>
        <% end %>
    </div>
</div>
<br>
<div>
    <a class="btn btn-dark" href=<%="/character/#{@character.id}/edit"%>>Edit Character</a>
    <a class="btn btn-dark" href=<%="/character/#{@character.id}/delete"%>>Delete Character</a>
    <br><br>
    <a class="btn btn-dark" href=<%="/characters"%>>Back to List</a>
</div>


